/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 36, ../sass/core/_mixin.scss */
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}
/* line 41, ../sass/core/_mixin.scss */
.clearfix::after {
  clear: both;
}

/* line 268, ../sass/core/_mixin.scss */
.line-list--indent {
  position: relative;
}
/* line 270, ../sass/core/_mixin.scss */
.line-list--indent::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  z-index: 1;
}
/* line 275, ../sass/core/_mixin.scss */
.line-list--indent::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
  top: auto;
  bottom: 0;
}

/* line 550, ../sass/core/_mixin.scss */
.line-item {
  line-height: 34px;
  padding: 5px 10px;
  position: relative;
  display: block;
  overflow: hidden;
}
/* line 557, ../sass/core/_mixin.scss */
.line-item:active, .line-item:hover {
  background-color: #ededed;
}
/* line 562, ../sass/core/_mixin.scss */
.line-item:not(:first-of-type)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  right: 0;
  height: 0;
  transform: scaleY(0.5);
  border-top: 1px solid #dbdbdb;
}

/* line 570, ../sass/core/_mixin.scss */
.line-list--after-v .line-item::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
  color: #ccc;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg) translate(0, -50%);
  box-sizing: border-box;
}

/* line 14, ../sass/core/_reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
}

/* line 22, ../sass/core/_reset.scss */
body {
  margin: 0;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Microsoft YaHei UI", "Microsoft YaHei", Roboto, "Hiragino Sans GB", "Source Han Sans CN", Fira Sans, "Droid Sans", "Helvetica Neue", arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  min-height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

/* line 42, ../sass/core/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 59, ../sass/core/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/* line 67, ../sass/core/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 73, ../sass/core/_reset.scss */
progress {
  vertical-align: baseline;
}

/* line 79, ../sass/core/_reset.scss */
[hidden],
template {
  display: none;
}

/* line 91, ../sass/core/_reset.scss */
a {
  background: transparent;
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
  color: #08c;
}
/* line 97, ../sass/core/_reset.scss */
a:active {
  outline: 0;
}

/* line 108, ../sass/core/_reset.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/* line 115, ../sass/core/_reset.scss */
b,
strong {
  font-weight: inherit;
}

/* line 121, ../sass/core/_reset.scss */
b,
strong {
  font-weight: bold;
}

/* line 127, ../sass/core/_reset.scss */
dfn {
  font-style: italic;
}

/* line 132, ../sass/core/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 138, ../sass/core/_reset.scss */
small {
  font-size: 80%;
}

/* line 143, ../sass/core/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 151, ../sass/core/_reset.scss */
sup {
  top: -0.5em;
}

/* line 155, ../sass/core/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 163, ../sass/core/_reset.scss */
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

/* line 170, ../sass/core/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 179, ../sass/core/_reset.scss */
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 187, ../sass/core/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 205, ../sass/core/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle;
}

/* line 219, ../sass/core/_reset.scss */
button,
input,
select {
  overflow: visible;
}

/* line 229, ../sass/core/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 239, ../sass/core/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 248, ../sass/core/_reset.scss */
[disabled] {
  cursor: default;
}

/* line 253, ../sass/core/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 261, ../sass/core/_reset.scss */
input {
  line-height: normal;
}

/* line 270, ../sass/core/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 279, ../sass/core/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 287, ../sass/core/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

/* line 295, ../sass/core/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 301, ../sass/core/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 311, ../sass/core/_reset.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/* line 321, ../sass/core/_reset.scss */
textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

/* line 329, ../sass/core/_reset.scss */
optgroup {
  font-weight: bold;
}

/* line 334, ../sass/core/_reset.scss */
input,
select,
textarea,
button {
  outline: 0;
}

/* line 342, ../sass/core/_reset.scss */
textarea,
input {
  -webkit-user-modify: read-write-plaintext-only;
}

/* line 348, ../sass/core/_reset.scss */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* line 356, ../sass/core/_reset.scss */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
}

/* line 362, ../sass/core/_reset.scss */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}

/* line 368, ../sass/core/_reset.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

/* line 374, ../sass/core/_reset.scss */
.placeholder {
  color: #999;
}

/* line 381, ../sass/core/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 386, ../sass/core/_reset.scss */
td,
th {
  padding: 0;
}

/* line 394, ../sass/core/_reset.scss */
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

/* line 399, ../sass/core/_reset.scss */
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

/* line 404, ../sass/core/_reset.scss */
ul, ol {
  list-style: none outside none;
}

/* line 409, ../sass/core/_reset.scss */
h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

/* line 414, ../sass/core/_reset.scss */
h1 {
  font-size: 18px;
}

/* line 418, ../sass/core/_reset.scss */
h2 {
  font-size: 16px;
}

/* line 422, ../sass/core/_reset.scss */
h3 {
  font-size: 14px;
}

/* line 427, ../sass/core/_reset.scss */
i {
  font-style: normal;
}

/* line 433, ../sass/core/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/core/_line-list.scss */
.line-list {
  background: #fff;
}
/* line 17, ../sass/core/_line-list.scss */
.line-list + .line-list {
  margin-top: 10px;
}

/* line 21, ../sass/core/_line-list.scss */
.line-list--center {
  text-align: center;
}

/* line 26, ../sass/core/_line-list.scss */
.line-list--indent .line-item::before {
  left: 10px;
}

/* line 31, ../sass/core/_line-list.scss */
.line-list--after-v .line-item {
  padding-right: 30px;
}

/* line 37, ../sass/core/_line-list.scss */
.line-list--flex .line-item {
  display: flex;
  align-items: center;
  padding-right: 0;
}
/* line 41, ../sass/core/_line-list.scss */
.line-list--flex .line-item .item-icon,
.line-list--flex .line-item .item-img,
.line-list--flex .line-item .icon-switch,
.line-list--flex .line-item .remind-num,
.line-list--flex .line-item .item-append {
  margin-right: 10px;
}
/* line 48, ../sass/core/_line-list.scss */
.line-list--flex .line-item .item-tt,
.line-list--flex .line-item .item-bd {
  flex: 1;
  margin-right: 10px;
  width: 1%;
}
/* line 54, ../sass/core/_line-list.scss */
.line-list--flex .line-item .bd-tt {
  line-height: 1.3;
  font-size: 16px;
  margin-bottom: 4px;
}
/* line 59, ../sass/core/_line-list.scss */
.line-list--flex .line-item .bd-txt {
  line-height: 1.5;
  color: #999;
  font-size: 12px;
}
/* line 64, ../sass/core/_line-list.scss */
.line-list--flex .line-item .item-append {
  color: #999;
}
/* line 67, ../sass/core/_line-list.scss */
.line-list--flex .line-item .icon-v-right {
  width: 30px;
  height: 30px;
  color: #ccc;
  margin-left: -10px;
}
/* line 73, ../sass/core/_line-list.scss */
.line-list--flex .line-item .remind-num {
  position: static;
  line-height: 1.5;
}

/* line 82, ../sass/core/_line-list.scss */
.line-list--select .line-item {
  padding-right: 30px;
}
/* line 84, ../sass/core/_line-list.scss */
.line-list--select .line-item.active {
  color: #007aff;
}
/* line 86, ../sass/core/_line-list.scss */
.line-list--select .line-item.active::after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  border-bottom: 2px solid currentColor;
  border-left: 2px solid currentColor;
  transform: rotate(-52deg) translate(0, -50%);
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -4px;
}

/* line 106, ../sass/core/_line-list.scss */
.line-list--multi-select .active {
  color: #007aff;
}
/* line 108, ../sass/core/_line-list.scss */
.line-list--multi-select .active .icon-checkbox {
  color: #007aff;
}

/* line 7, ../sass/ext/icons-paint/_cross.scss */
.icon-cross {
  position: relative;
}
/* line 9, ../sass/ext/icons-paint/_cross.scss */
.icon-cross::before, .icon-cross::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 14px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: currentColor;
}
/* line 19, ../sass/ext/icons-paint/_cross.scss */
.icon-cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* line 15, ../sass/ie.scss */
.list--setting .item-icon {
  width: 30px;
  height: 30px;
}
/* line 20, ../sass/ie.scss */
.list--setting .line-item {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 23, ../sass/ie.scss */
.list--setting .line-item::before {
  left: 60px;
}
/* line 26, ../sass/ie.scss */
.list--setting .line-item .icon-v-right {
  width: 40px;
}
